<%= form_for @blog, :html => { :multipart => true} do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid">
<div class="span12">
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 20, :cols => 200 %>
  </div>
    <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, class: "btn btn-large" %>
  </div>

  <%= f.fields_for :assets do |asset_fields| %>
    <p>
      <%= asset_fields.file_field :asset %>
      <%= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>