<p id="notice"><%= notice %></p>
<% if @blog.image_file_name %>
  <%= image_tag @blog.image.url(:medium) %>
<% end %>
<p>
<h1><%= @blog.title %></h1>
Posted <%= time_ago_in_words(@blog.created_at) %> ago.  
</p>

<p>
  <%= @blog.content %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
