<!-- <p id="notice"><%= notice %></p>

<% if @listing.picture_file_name %>
  <%= image_tag @listing.picture.url(:medium) %>
<% end %>
<p>
  <b>Price:</b>
  $<%= @listing.price %>
</p>

<p>
  <b>Number:</b>
  <%= @listing.Number %>
</p>

<p>
  <b>Address:</b>
  <%= @listing.Address %>
</p>

<p>
  <b>Address2:</b>
  <%= @listing.Address2 %>
</p>

<p>
  <b>City:</b>
  <%= @listing.City %>
</p>

<p>
  <b>State:</b>
  <%= @listing.State %>
</p>

<p>
  <b>Zip:</b>
  <%= @listing.Zip %>
</p>

<p>
  <b>Description:</b>
  <%= @listing.Description %>
</p>

<p>
  <b>Rooms:</b>
  <%= @listing.Rooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @listing.Bathrooms %>
</p>

<p>
  <b>Sqft:</b>
  <%= @listing.SqFt %>
</p>

<p>
  <b>Lot:</b>
  <%= @listing.Lot %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %> -->


<!-- <div class="listing_show_page"> -->
  <div class="row-fluid">
    <div class="span8 listings_show">
      <p class="listing_address">
      <%= @listing.Number %> <%= @listing.Address %> <%= @listing.City %> <%= @listing.State %>, <%= @listing.Zip %>
      </p>
      <!-- <div class="row-fluid"> -->
        <div class="span4">
          <p><b>Bedrooms:</b> <%= @listing.Rooms %> beds</p>
          <p><b>Bathrooms:</b> <%= @listing.Bathrooms %> baths</p>
          <p><b>Size:</b> <%= @listing.SqFt %> sq ft.</p>
          <p><b>Lot:</b> <%= @listing.Lot %> sq ft.</p>
        </div>
        <div class="span4">
          <% if @listing.picture_file_name %>
            <%= image_tag @listing.picture.url(:medium) %>
          <% end %>
        </div>
        <div class="span12">
          <b>Description</b><br />
          <%= @listing.Description %>
        </div>
      <!-- </div> -->
    </div>
    <div class="span3">
      <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea rows="5">I would like to inquire about <%= @listing.Number %> <%= @listing.Address %> <%= @listing.City %> <%= @listing.State %>, <%= @listing.Zip %>.</textarea>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
<!-- </div> -->